/* CityFlag.css */
.maindiv {
    max-height: 100vh; /* Adjust based on your preference */
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  