/* CityFlag.css */
.maindiv {
    max-height: 100vh; /* Adjust based on your preference */
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .inputdiv{
    
    width: 100%;
    align-items: center;
    padding: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(239, 245, 245);
  }
  .inputdiv input{
    width: 70%;
    height: 90%;
    border: none;
    border-radius: 10px;
    border-style: none;
    align-items: center;
    padding: 5px;
    font-size: x-large;
    margin: 10px;
    
    
  }
  .inputdiv {
    margin-bottom: 20px;
  }
  
  .maindiv {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .countryCard {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
  }
  
  .countryCard img {
    max-width: 100%;
    height: auto;
  }
  
  .countryCard h2 {
    margin-top: 10px;
    font-size: 18px;
  }
  